:root{
    --headerfooter : #202020;
    --logintxt : #f9f8f5;
    --input: white;
    --logingreen: #3cab8c;
    --placeholder: #959595;
    --glassdark: rgba(255, 255, 255, 0.05);
    --headlines: white;
    --btntxt: #202020;
    --iconoutline: #3cab8c;
    --buttontog:  transparent;
    --loginbg :url("img/logobg.svg");
    --landingbg :url("img/LandingPageBg.svg");
    --profilebg: url("img/profilebg.svg");
    --modetoggle: url("img/sun.svg");
}

.lightmode{
    --headerfooter : #F9F8F5;
    --logintxt : #202020;
    --input: white;
    --logingreen: #3cab8c;
    --placeholder: #959595;
    --glassdark: rgba(255, 255, 255, 0.70);
    --headlines: #202020;
    --buttontog:  rgba(60, 171, 140, 0.20);
    --btntxt: white;
    --iconoutline: #3cab8c;
    --loginbg :url("img/loginpagebg.svg");
    --landingbg :url("img/LandingPageBgLight.svg");
    --profilebg: url("img/profilebglight.svg");
    --modetoggle: url("img/moon.svg");
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Poppins";
}

.landingpage{
    background-image: var(--landingbg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    position: relative;
    

}

.upbtn{
    width: 50px;
    height: 50px;
    background-color: var(--logingreen);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50px;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    display: flex;
height: 72.8px;
padding: 16px 40px 0.8px 40px;
align-items: flex-start;
align-self: stretch;
width: 100%;
z-index: 99999999;
background: var(--headerfooter, #202020);
justify-content: space-between;
}
nav{
    display: flex;

align-items: center;
gap: 32px;
}

ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

a{
    text-decoration: none;
}

li a{
color: var(--logintxt, #F9F8F5);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}
.selectednav{
   color: var(--logingreen, #3CAB8C) !important;

}
header button{
display: flex;
width: 36px;
height: 36px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
border: 0.8px solid rgba(255, 255, 255, 0.10);
outline: none;
background: var(--buttontog);
color: var(--logintxt, #F9F8F5);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
cursor: pointer;
}

.mode{
display: flex;
width: 36px;
height: 36px;
cursor: pointer;
justify-content: center;
align-items: center;
flex-shrink: 0;
border: 0.8px solid rgba(255, 255, 255, 0.10);
outline: none;
background: var(--buttontog);
color: #2D2D2D;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
    background-image: var(--modetoggle);
    background-position: center;
    background-repeat: no-repeat;
}


.hero{
    display: flex;
padding: 150px 139px 84px 139px;
align-items: center;
justify-content: center;
gap: 48px;
}

.herotxt{
    display: flex;
width: 527px;
flex-direction: column;
align-items: flex-start;
gap: 28px;
}

.herotxt h1{
    color: var(--headlines, #FFF);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 57.6px; /* 120% */
}

.herotxt p{
    color: var(--headlines, #FFF);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
}

.herotxt button{
    display: inline-flex;
padding: 12.8px 31.875px 11.2px 32px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: var(--headlines, #FFF);
color: var(--btntxt, #202020);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
cursor: pointer;
border: 0;
transition: all 300ms ease;
}

.herotxt button:hover{
    scale: 1.1;

}

.heroimg{
width: 527px;
height: 328.881px;

}

.heroimg img{
    width: 100%;
    height: 100%;
}


.sec2{
    display: flex;
padding: 73px 75px;
align-items: center;
gap: 40px;
justify-content: center;
}

.card{
display: flex;
width: 389.328px;
padding: 33px;
height: 223px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
transition: all 300ms ease;
border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: var(--glassdark, rgba(255, 255, 255, 0.05));
box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10);

}

.card h4{
    color: var(--headlines, #FFF);
font-family: Poppins;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: 51px; /* 150% */
}

.card p{
    color: var(--headlines, #FFF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
}

.card:hover{
    scale: 1.1;
    box-shadow: 0 10px 15px -3px hwb(166 12% 32% / 0.56);

}

.sec3{
    display: flex;
padding: 94px 73px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 48px;
}

.sec3 h1{
    color: var(--headlines, #FFF);
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 60px; /* 150% */
}

.cards2{
    display: flex;
justify-content: center;
align-items: center;
gap: 24px;
align-self: stretch;
}

.cardsec3{
    display: flex;
width: 394.664px;
padding: 25px;
flex-direction: column;
align-items: flex-start;
gap: 14px;
transition: all 300ms ease;
border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: var(--glassdark, rgba(255, 255, 255, 0.05));
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.10);
}

.cardsec3 h6{
    display: flex;
width: 40px;
height: 40px;
justify-content: center;
align-items: center;
border-radius: 10px;
border: 1px solid rgba(60, 171, 140, 0.30);
background: rgba(60, 171, 140, 0.20);
color: var(--headlines, #FFF);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 27px; /* 150% */
}

.cardsec3 h3{
    color: var(--headlines, #FFF);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}

.cardsec3 p{
    color: var(--headlines, #FFF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22.4px; /* 160% */
}

.cardsec3:hover{
    scale: 1.1;
    box-shadow: 0 10px 15px -3px hwb(166 12% 32% / 0.56);

}


.sec4{
    display: flex;
padding: 88px 137px;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 31px;
}

.sec4 h1{
color: var(--headlines, #FFF);
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 60px; /* 150% */

}

.par{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    gap: 15px;
    max-width: 700px;

}

.par p{
    color: var(--headlines, #FFF);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
width: 607px;
}

.readmore{
    background-color: var(--logingreen);
    color: var(--headlines, #FFF);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}


.text {
    max-height: 80px;       
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.text.expanded {
    max-height: 500px;      
}

.gallery{
    display: flex;
align-items: flex-start;
align-content: flex-start;
justify-content: center;
gap: 55px 25px;
align-self: stretch;
flex-wrap: wrap;
}

.gall{
    display: flex;
width: 351.331px;
flex-direction: column;
align-items: center;
gap: 16px;
overflow: hidden;
transition: all 300ms ease;
border-radius: 14px;
border: 0.8px solid rgba(255, 255, 255, 0.10);
background: var(--glassdark, rgba(255, 255, 255, 0.05));
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 1px 3px 0 rgba(0, 0, 0, 0.10);
backdrop-filter: blur(2px);
}

.gall h3{
    color: var(--headlines, #FFF);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 27px; /* 150% */
}

.gall:hover{
    scale: 1.1;
    box-shadow: 0 10px 15px -3px hwb(166 12% 32% / 0.56);

}

.close{
    background-color: var(--logingreen);
    width: 40px;
    height: 40px;
    color: var(--headlines, #FFF);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-radius: 100px; 
      position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    user-select: none;
}


.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox.hidden {
    display: none;
}

.lightbox-img {
    width: 1000px;
    
    border-radius: 8px;
}

.sec5{
    display: flex;
padding: 56px 353px;
flex-direction: column;
align-items: center;
gap: 26px;
justify-content: center;
}

.contit{
    color: var(--headlines, #FFF);
text-align: center;

font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 60px; /* 150% */
}

.conp{
    color: #A8A8A8;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.sec5 form{
    display: flex;
width: 672px;
height: 580px;
padding: 32.8px 32.8px 0.8px 32.8px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
border-radius: 14px;
border: 0.8px solid rgba(255, 255, 255, 0.10);
background: var(--glassdark, rgba(255, 255, 255, 0.05));
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
backdrop-filter: blur(2px);
}

.sec5 label{
color: var(--logintxt, #F9F8F5);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.contactinput1 , .contactinput2{
    display: flex;
width: 606.4px;
height: 49.6px;
padding: 12px 16px 12px 44px;
align-items: center;
border-radius: 10px;
border: 0;
background: var(--input, #FFF);
}

.contactinput1{
    background-image: url(img/Icon1.svg);
    background-repeat: no-repeat;
    background-position: 12px center;
     background-size: 20px 20px;
}

.contactinput2{
    background-image: url(img/Icon2.svg);
    background-repeat: no-repeat;
    background-position: 12px center;
     background-size: 20px 20px;
}


.contactinputtxt{
    display: flex;
width: 606.4px;
height: 145.6px;
padding: 12px 16px 12px 44px;
align-items: flex-start;
border: 0;
border-radius: 10px;
background: var(--input, #FFF) url(img/Icon3.svg) no-repeat 12px 12px / 20px 20px;

}

.contactinputtxt::placeholder , .contactinput1::placeholder , .contactinput2::placeholder{
color: var(--placeholder, #959595);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.contactinput1:focus,
.contactinput2:focus,
.contactinputtxt:focus {
    outline: none; 
    border: 2px solid var(--logingreen); 
    box-shadow: 0 10px 15px -3px hwb(166 12% 32% / 0.56);
}

footer{
    display: flex;
height: 117.8px;
padding: 0 24px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
align-self: stretch;
background: var(--headerfooter, #202020);
color: var(--headlines);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

#preloader{
    width: 100%;
    height: 100vh;
    background-image: var(--loginbg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 0;
    z-index: 99999999999999;
    opacity: 1;
    transition: all 300ms ease;
    scale: 1;
}

#preloadertext{
    color: var(--headlines);
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 150% */
}

.loader {
  display: flex;
  gap: 6px;
}

.loader span {
  width: 10px;
  height: 10px;
  background-color: var(--headlines);
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.loader span:nth-child(1) {
  animation-delay: -0.32s;
}
.loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}


.loginpage{
    display: flex;
width: 100%;
padding-top: 66px;
flex-direction: column;
align-items: center;
gap: 94px;
background-image: var(--loginbg);
background-repeat: no-repeat;
background-size: cover;
}

.logincard{
    display: flex;
padding: 33px;
width: 488px;
height: 564px;
flex-direction: column;
align-items: center;
gap: 21px;
border-radius: 14px;
background: var(--glassdark, rgba(255, 255, 255, 0.05));
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
backdrop-filter: blur(2px);
}

.logincard h2{
    color: var(--logingreen, #3CAB8C);
text-align: center;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 150% */
}

.logincard p{
    color: var(--logintxt, #F9F8F5);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.loginform{
    display: flex;
width: 422.4px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.loginform label{
    color: var(--logintxt, #F9F8F5);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.us{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}

#username , #password{
display: flex;
width: 422.4px;
height: 49.6px;
padding: 12px 16px 12px 44px;
align-items: center;
border-radius: 10px;
background: var(--input, #FFF);
border: 0;
}

#username{
        background-image: url(img/Icon1.svg);
    background-repeat: no-repeat;
    background-position: 12px center;
     background-size: 20px 20px;
}

#password{
       background-image: url(img/Icon4.svg);
    background-repeat: no-repeat;
    background-position: 12px center;
     background-size: 20px 20px;
}

#loginbtn{
    display: flex;
width: 422.4px;
padding: 12.8px 0 11.2px 0;
justify-content: center;
align-items: center;
border-radius: 10px;
background: var(--logingreen, #3CAB8C);
color: var(--logintxt, #F9F8F5);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
border: 0;
cursor: pointer;
}

#forgot{
    color: var(--logingreen, #3CAB8C);
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
}

#loginError{
    background-color: rgb(150, 8, 8);
    color: white;
    padding: 5px 30px;
    border-radius: 50px;
    display: none;
}

.main {
  height: 80vh;
  width: 1000px;
  overflow: hidden;
  border-radius: 15px;
  margin-top: 80px;
  margin-bottom: 80px;

}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}


#submit{
    display: flex;
padding: 12.8px 0 11.2px 0;
justify-content: center;
align-items: center;
align-self: stretch;
width: 100%;
border-radius: 10px;
background: var(--logingreen, #3CAB8C);
color: var(--logintxt, #F9F8F5);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
border: 0;
cursor: pointer;
line-height: 24px; /* 150% */
}